One way binding
<div class="example-container">
    <mat-form-field>
        <input matInput placeholder="nombres y apellidos" (keyup)="teclear($event)">
    </mat-form-field>

    <p>{{ saludo }}</p>
</div>

Two way binding
<div class="example-container">
    <mat-form-field>
        <input matInput placeholder="DNI" [(ngModel)]="dni" (keyup)="teclear($event)" (keyup.enter)="agregar()">
    </mat-form-field>

    <button mat-raised-button color="accent" [disabled]="estadoBotonAgregar" (click)="agregar()">Agregar</button>

    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let e of lista; let i = index">{{i + 1}} {{e}}
            <div ngSwitch="{{e%2}}">
                <div *ngSwitchCase="0" [ngClass]="'impar'">Par </div>
                <div *ngSwitchCase="1" [ngClass]="'par'">Impar </div>
                <div *ngSwitchDefault>Sin resultados.</div>
            </div>
            <button mat-raised-button color="accent" (click)="remover(i)">Remover</button>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>

    <mat-form-field>
        <input matInput placeholder="Mensaje" [(ngModel)]="mensaje">
    </mat-form-field>
</div>

<app-gato (emisor)="recibirMaullido($event)"></app-gato>
