<h2>Perro</h2>

<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="nombres y apellidos" [(ngModel)]="nombre">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="raza" [(ngModel)]="raza">
  </mat-form-field>

  <button mat-button (click)="ladrar()">¡Ladrar!</button>
  
</div>
